# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store

# Chromedriver
chromedriver
chromedriver.exe 